USE [master]
GO
/****** Object:  Database [uniON]    Script Date: 30/4/2020 16:10:41 ******/
CREATE DATABASE [uniON]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'uniON', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\uniON.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'uniON_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\uniON_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [uniON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [uniON]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[IdCiudad] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[IdCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[IdLogin] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Foto] [image] NULL,
	[IdCiudad] [int] NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NULL,
	[Descripcion] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosCategorias]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosCategorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_EstadosCategorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[IdEvento] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoEvento] [int] NULL,
	[IdCiudad] [int] NULL,
	[IdCreador] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](max) NULL,
	[Puntaje] [int] NULL,
	[Imagen] [image] NULL,
	[Fecha] [date] NULL,
	[IdEstado] [int] NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventosTipos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventosTipos](
	[IdTipoEvento] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_EventosTipos] PRIMARY KEY CLUSTERED 
(
	[IdTipoEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[IdLogin] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Logins] PRIMARY KEY CLUSTERED 
(
	[IdLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[IdLogin] [int] NULL,
	[IdCiudad] [int] NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Foto] [image] NULL,
	[PuntosAcumulados] [int] NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Premios]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Premios](
	[IdPremio] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NULL,
	[IdTipoPremio] [int] NULL,
	[Titulo] [varchar](max) NULL,
	[Descripcion] [varchar](max) NULL,
	[Cantidad] [int] NULL,
	[IdEstado] [int] NULL,
	[CostoPuntos] [int] NULL,
 CONSTRAINT [PK_Premios] PRIMARY KEY CLUSTERED 
(
	[IdPremio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PremiosTipos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PremiosTipos](
	[IdTipoPremio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_PremiosTipos] PRIMARY KEY CLUSTERED 
(
	[IdTipoPremio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[IdProvincia] [int] IDENTITY(1,1) NOT NULL,
	[IdPais] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosTipos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosTipos](
	[IdTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_UsuariosTipos] PRIMARY KEY CLUSTERED 
(
	[IdTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CiudadesAgregar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure [dbo].[CiudadesEliminar]
--@IdCiudad as int
--as
--delete Ciudades
--where IdCiudad=@IdCiudad

create procedure [dbo].[CiudadesAgregar]
 @Nombre varchar(50),
 @IdProvincia int,
 @Activo bit
 as
 insert
 into Ciudades 
 values (@Nombre,@IdProvincia,@Activo)
GO
/****** Object:  StoredProcedure [dbo].[CiudadesBuscarPorId]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure [dbo].[CiudadesEliminar]
--@IdCiudad as int
--as
--delete Ciudades
--where IdCiudad=@IdCiudad

--create procedure [dbo].[CiudadesAgregar]
-- @Nombre varchar(50),
-- @IdProvincia int,
-- @Activo bit
-- as
-- insert
-- into Ciudades 
-- values (@Nombre,@IdProvincia,@Activo)

create procedure [dbo].[CiudadesBuscarPorId]
 @IdCiudad int
 as
 select Paises.IdPais, Ciudades .IdProvincia, IdCiudad, Ciudades.Nombre, Ciudades.Activo
 from Ciudades join Provincias on Ciudades .IdProvincia = Provincias .IdProvincia 
 join Paises on Paises .IdPais = Provincias .IdPais 
GO
/****** Object:  StoredProcedure [dbo].[CiudadesBuscarTodos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CiudadesBuscarTodos]
 @IdCiudad int
 as
 select Paises.IdPais, Ciudades .IdProvincia, IdCiudad, Ciudades.Nombre, Ciudades.Activo
 from Ciudades join Provincias on Ciudades .IdProvincia = Provincias .IdProvincia 
 join Paises on Paises .IdPais = Provincias .IdPais 
GO
/****** Object:  StoredProcedure [dbo].[CiudadesEliminar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CiudadesEliminar]
@IdCiudad as int
as
delete Ciudades
where IdCiudad=@IdCiudad
GO
/****** Object:  StoredProcedure [dbo].[CiudadesModificar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure [dbo].[CiudadesEliminar]
--@IdCiudad as int
--as
--delete Ciudades
--where IdCiudad=@IdCiudad

--create procedure [dbo].[CiudadesAgregar]
-- @Nombre varchar(50),
-- @IdProvincia int,
-- @Activo bit
-- as
-- insert
-- into Ciudades 
-- values (@Nombre,@IdProvincia,@Activo)

--create procedure [dbo].[CiudadesBuscarPorId]
-- @IdCiudad int
-- as
-- select Paises.IdPais, Ciudades .IdProvincia, IdCiudad, Ciudades.Nombre, Ciudades.Activo
-- from Ciudades join Provincias on Ciudades .IdProvincia = Provincias .IdProvincia 
-- join Paises on Paises .IdPais = Provincias .IdPais 

create procedure [dbo].[CiudadesModificar]
 @IdCiudad int,
 @IdProvincia int,
 @Nombre varchar(50),
 @Activo bit
 as
 update Ciudades 
 set IdProvincia = @IdProvincia , Nombre = @Nombre, Activo = @Activo
 where IdCiudad = @IdCiudad 
GO
/****** Object:  StoredProcedure [dbo].[EstadosAgregar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosAgregar]
@IdCategoria int,
@Descripcion varchar(50),
@Activo bit
as
insert into Provincias  
values (@IdCategoria, @Descripcion, @Activo)
GO
/****** Object:  StoredProcedure [dbo].[EstadosBuscarPorId]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosBuscarPorId]
@IdEstado int
as
select *
from Estados
where IdEstado = @IdEstado
GO
/****** Object:  StoredProcedure [dbo].[EstadosBuscarPorIdCategorias]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosBuscarPorIdCategorias]
@IdCategoria int
as
select C.IdCategoria, e.IdEstado, e.Descripcion, e.Activo
from Estados E join EstadosCategorias C on E.IdCategoria = C.IdCategoria
where e.IdCategoria = @IdCategoria
GO
/****** Object:  StoredProcedure [dbo].[EstadosBuscarTodos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosBuscarTodos]
as
select *
from Estados 
GO
/****** Object:  StoredProcedure [dbo].[EstadosCategoriasAgregar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosCategoriasAgregar]
@Descripcion varchar(50),
@Activo bit
as
insert into EstadosCategorias
values (@Descripcion,@Activo)
GO
/****** Object:  StoredProcedure [dbo].[EstadosCategoriasBuscarPorId]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosCategoriasBuscarPorId]
@IdEstadoCategoria int
as
select *
from EstadosCategorias
where IdCategoria=@IdEstadoCategoria
GO
/****** Object:  StoredProcedure [dbo].[EstadosCategoriasBuscarTodos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosCategoriasBuscarTodos]

as
select *
from EstadosCategorias
GO
/****** Object:  StoredProcedure [dbo].[EstadosCategoriasEliminar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosCategoriasEliminar]
@IdEstadoCategoria int
as
delete EstadosCategorias
where IdCategoria= @IdEstadoCategoria
GO
/****** Object:  StoredProcedure [dbo].[EstadosCategoriasModificar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosCategoriasModificar]
@IdEstadoCategoria int,
@Descripcion varchar(50),
@Activo bit
as
update EstadosCategorias
set Descripcion=@Descripcion, Activo=@Activo
where IdCategoria=@IdEstadoCategoria
GO
/****** Object:  StoredProcedure [dbo].[EstadosModificar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EstadosModificar]
@IdEstado int,
@IdCategoria int,
@Descripcion varchar (50),
@Activo bit
as
update Estados
set IdCategoria= @IdCategoria, Descripcion = @Descripcion, Activo = @Activo
where IdEstado = @IdEstado
GO
/****** Object:  StoredProcedure [dbo].[EventosTipoModificar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EventosTipoModificar]
@IdTipoEvento int,
@Descripcion varchar(50),
@Activo varchar(50)
as update EventosTipos
set  Descripcion=@Descripcion, Activo=@Activo
where IdTipoEvento=@IdTipoEvento
GO
/****** Object:  StoredProcedure [dbo].[EventosTiposAgregar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EventosTiposAgregar]
@Descripcion varchar(50),
@Activo bit
as
insert into EventosTipos
values (@Descripcion, @Activo)
GO
/****** Object:  StoredProcedure [dbo].[EventosTiposBuscarPorId]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EventosTiposBuscarPorId]
 @IdTipoEvento int
 as
 select *
 from EventosTipos
 where IdTipoEvento=@IdTipoEvento
GO
/****** Object:  StoredProcedure [dbo].[EventosTiposBuscarTodos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EventosTiposBuscarTodos]
as 
select *
from EventosTipos
GO
/****** Object:  StoredProcedure [dbo].[EventosTiposEliminar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EventosTiposEliminar]
@IdTipoEvento as int 
as 
delete EventosTipos
where IdTipoEvento=@IdTipoEvento
GO
/****** Object:  StoredProcedure [dbo].[PaisesAgregar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PaisesAgregar]
@Nombre varchar(50),
@Activo bit
as
insert into Paises
values (@Nombre,@Activo)
GO
/****** Object:  StoredProcedure [dbo].[PaisesBuscarPorId]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure PaisesAgregar
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Paises
--values (@Nombre,@Activo)

create procedure [dbo].[PaisesBuscarPorId]
@IdPais int
as
select *
from Paises
where IdPais = @IdPais
GO
/****** Object:  StoredProcedure [dbo].[PaisesBuscarTodos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure PaisesAgregar
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Paises
--values (@Nombre,@Activo)

--create procedure PaisesBuscarPorId
--@IdPais int
--as
--select *
--from Paises
--where IdPais = @IdPais

create procedure [dbo].[PaisesBuscarTodos]
as
select *
from
Paises
GO
/****** Object:  StoredProcedure [dbo].[PaisesModificar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure PaisesAgregar
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Paises
--values (@Nombre,@Activo)

--create procedure PaisesBuscarPorId
--@IdPais int
--as
--select *
--from Paises
--where IdPais = @IdPais

--create procedure PaisesBuscarTodos
--as
--select *
--from
--Paises

create procedure [dbo].[PaisesModificar]
@IdPais int,
@Nombre varchar (50),
@Activo bit
as
update Paises
set Nombre = @Nombre, Activo = @Activo
where IdPais = @IdPais
GO
/****** Object:  StoredProcedure [dbo].[PremiosTiposAgregar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PremiosTiposAgregar]
@Descripcion varchar(50),
@Activo bit
as 
insert 
into PremiosTipos
values(@Descripcion, @Activo)
GO
/****** Object:  StoredProcedure [dbo].[PremiosTiposBuscarPorId]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PremiosTiposBuscarPorId]
@IdPremiosTipo int
as
select *
from  PremiosTipos
where IdTipoPremio= @IdPremiosTipo
GO
/****** Object:  StoredProcedure [dbo].[PremiosTiposBuscarTodos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PremiosTiposBuscarTodos]
as 
select *
from PremiosTipos
GO
/****** Object:  StoredProcedure [dbo].[PremiosTiposModificar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PremiosTiposModificar]
@IdPremioTipo int,
@Descripcion varchar(50),
@Activo int
as
update PremiosTipos
set  Descripcion=@Descripcion, Activo=@Activo
where IdTipoPremio=  @IdPremioTipo
GO
/****** Object:  StoredProcedure [dbo].[ProvinciasAgregar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure PaisesAgregar
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Paises
--values (@Nombre,@Activo)

--create procedure PaisesBuscarPorId
--@IdPais int
--as
--select *
--from Paises
--where IdPais = @IdPais

--create procedure PaisesBuscarTodos
--as
--select *
--from
--Paises

--create procedure PaisesModificar
--@IdPais int,
--@Nombre varchar (50),
--@Activo bit
--as
--update Paises
--set Nombre = @Nombre, Activo = @Activo
--where IdPais = @IdPais

create procedure [dbo].[ProvinciasAgregar]
@IdPais int,
@Nombre varchar(50),
@Activo bit
as
insert into Provincias  
values (@IdPais, @Nombre, @Activo)
GO
/****** Object:  StoredProcedure [dbo].[ProvinciasBuscarPorId]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure PaisesAgregar
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Paises
--values (@Nombre,@Activo)

--create procedure PaisesBuscarPorId
--@IdPais int
--as
--select *
--from Paises
--where IdPais = @IdPais

--create procedure PaisesBuscarTodos
--as
--select *
--from
--Paises

--create procedure PaisesModificar
--@IdPais int,
--@Nombre varchar (50),
--@Activo bit
--as
--update Paises
--set Nombre = @Nombre, Activo = @Activo
--where IdPais = @IdPais

--create procedure ProvinciasAgregar
--@IdPais int,
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Provincias  
--values (@IdPais, @Nombre, @Activo)

--create procedure ProvinciasModificar
--@Idprovincia int,
--@IdPais int,
--@Nombre varchar (50),
--@Activo bit
--as
--update Provincias
--set IdPais= @IdPais, Nombre = @Nombre, Activo = @Activo
--where IdProvincia = @IdProvincia

create procedure [dbo].[ProvinciasBuscarPorId]
@IdProvincia int
as
select *
from Provincias
where IdProvincia = @IdProvincia
GO
/****** Object:  StoredProcedure [dbo].[ProvinciasBuscarPorPais]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure PaisesAgregar
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Paises
--values (@Nombre,@Activo)

--create procedure PaisesBuscarPorId
--@IdPais int
--as
--select *
--from Paises
--where IdPais = @IdPais

--create procedure PaisesBuscarTodos
--as
--select *
--from
--Paises

--create procedure PaisesModificar
--@IdPais int,
--@Nombre varchar (50),
--@Activo bit
--as
--update Paises
--set Nombre = @Nombre, Activo = @Activo
--where IdPais = @IdPais

--create procedure ProvinciasAgregar
--@IdPais int,
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Provincias  
--values (@IdPais, @Nombre, @Activo)

--create procedure ProvinciasModificar
--@Idprovincia int,
--@IdPais int,
--@Nombre varchar (50),
--@Activo bit
--as
--update Provincias
--set IdPais= @IdPais, Nombre = @Nombre, Activo = @Activo
--where IdProvincia = @IdProvincia

--create procedure ProvinciasBuscarPorId
--@IdProvincia int
--as
--select *
--from Provincias
--where IdProvincia = @IdProvincia

create procedure [dbo].[ProvinciasBuscarPorPais]
@IdPais int
as
select *
from Provincias
where IdPais = @IdPais
GO
/****** Object:  StoredProcedure [dbo].[ProvinciasBuscarTodos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure PaisesAgregar
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Paises
--values (@Nombre,@Activo)

--create procedure PaisesBuscarPorId
--@IdPais int
--as
--select *
--from Paises
--where IdPais = @IdPais

--create procedure PaisesBuscarTodos
--as
--select *
--from
--Paises

--create procedure PaisesModificar
--@IdPais int,
--@Nombre varchar (50),
--@Activo bit
--as
--update Paises
--set Nombre = @Nombre, Activo = @Activo
--where IdPais = @IdPais

--create procedure ProvinciasAgregar
--@IdPais int,
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Provincias  
--values (@IdPais, @Nombre, @Activo)

--create procedure ProvinciasModificar
--@Idprovincia int,
--@IdPais int,
--@Nombre varchar (50),
--@Activo bit
--as
--update Provincias
--set IdPais= @IdPais, Nombre = @Nombre, Activo = @Activo
--where IdProvincia = @IdProvincia

--create procedure ProvinciasBuscarPorId
--@IdProvincia int
--as
--select *
--from Provincias
--where IdProvincia = @IdProvincia

--create procedure ProvinciasBuscarPorPais
--@IdPais int
--as
--select *
--from Provincias
--where IdPais = @IdPais

create procedure [dbo].[ProvinciasBuscarTodos]
as
select P.IdProvincia, P.Provincia, Pa.Nombre, P.Activo
from Provincia P inner join Pais PA on P.IdPais = PA.IdPais
GO
/****** Object:  StoredProcedure [dbo].[ProvinciasModificar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure PaisesAgregar
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Paises
--values (@Nombre,@Activo)

--create procedure PaisesBuscarPorId
--@IdPais int
--as
--select *
--from Paises
--where IdPais = @IdPais

--create procedure PaisesBuscarTodos
--as
--select *
--from
--Paises

--create procedure PaisesModificar
--@IdPais int,
--@Nombre varchar (50),
--@Activo bit
--as
--update Paises
--set Nombre = @Nombre, Activo = @Activo
--where IdPais = @IdPais

--create procedure ProvinciasAgregar
--@IdPais int,
--@Nombre varchar(50),
--@Activo bit
--as
--insert into Provincias  
--values (@IdPais, @Nombre, @Activo)

create procedure [dbo].[ProvinciasModificar]
@Idprovincia int,
@IdPais int,
@Nombre varchar (50),
@Activo bit
as
update Provincias
set IdPais= @IdPais, Nombre = @Nombre, Activo = @Activo
where IdProvincia = @IdProvincia
GO
/****** Object:  StoredProcedure [dbo].[UsuariosTiposAgregar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UsuariosTiposAgregar]
@Descripcion varchar(50),
@Activo bit
as
insert 
into UsuariosTipos
values (@Descripcion, @Activo)
GO
/****** Object:  StoredProcedure [dbo].[UsuariosTiposBuscarPorId]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UsuariosTiposBuscarPorId] 
@IdTipoUsuario int
as
select * 
from UsuariosTipos
where IdTipoUsuario = @IdTipoUsuario
GO
/****** Object:  StoredProcedure [dbo].[UsuariosTiposBuscarTodos]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UsuariosTiposBuscarTodos]
as 
select *
from UsuariosTipos
GO
/****** Object:  StoredProcedure [dbo].[UsuariosTiposModificar]    Script Date: 30/4/2020 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UsuariosTiposModificar]
@IdUsuarioTipo int,
@Descripcion varchar(50),
@Activo bit
as 
update UsuariosTipos
set Descripcion= @Descripcion, Activo= @Activo
where IdTipoUsuario = @IdUsuarioTipo
GO
USE [master]
GO
